.portfolio-item__item {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #424242;
}

.portfolio-item__link-wrapper {
  max-height: 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.portfolio-item__link-wrapper:hover {
  opacity: 0.6;
}

.portfolio-item__link {
  margin: 0 0 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #FFFFFF;   
}

.portfolio-item__item:last-of-type {
  margin-bottom: 0;
  border: none;
}

@media (max-width: 768px) {
  .portfolio-item__link{
    font-size: 28px;
    line-height: 50px;
  }
}

@media (max-width: 535px) {
  .portfolio-item__link {
    font-size: 18px;
    line-height: 28px;
  }
}
