.techs-item {
  min-width: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  border-radius: 10px;
}

.techs-item__name {
  padding-bottom: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .techs-item {
    min-width: 84px;
    max-height: 57px;
  }

  .techs-item__name {
    padding-bottom: 0px;
    font-size: 12px;
    line-height: 15px;
  }
}